__pycache__/
venv/
.venv/
learning/models/*.pth
learning/scalers/*.pkl
*.pyc
.ipynb_checkpoints/
learning/plots/*.png
# Optional: uncomment the line below if your CSV files are too large for GitHub
data/*.csv
